h1 {
    color: white;
    font-family: Apple Chancery, cursive;
    text-align: center;
}

h2 {
    color: white;
    font-family: Apple Chancery, cursive;
    text-align: center;
    text-decoration: underline;
}

body {
    background-color: black;
}

.inline-block {
    display: inline-block;
 }